/* static/styles.css */

/* Reset default margins and paddings */
body,
h1,
h2,
h3,
p,
ul,
ol,
blockquote,
pre,
code {
    margin: 0;
    padding: 0;
}

/* Improve readability */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    padding: 20px;
}

/* Container for Markdown content */
.markdown-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Heading styles */
h1, h2, h3 {
    font-weight: bold;
    margin: 20px 0;
}

h1 {
    font-size: 3em;
    color: #333;
    border-bottom: 3px solid #007bff;
    padding-bottom: 0.3em;
    margin-bottom: 30px;
}

h2 {
    font-size: 2.5em;
    color: #555;
}

h3 {
    font-size: 2em;
    color: #777;
}

/* Paragraph styles */
p {
    margin-bottom: 20px;
}

/* List styles */
ul,
ol {
    margin-bottom: 20px;
    padding-left: 20px; /* Adjust indentation */
}

ul {
    list-style-type: none; /* Remove default bullets */
}

ul li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}

ul ul li {
    margin-left: 5px; /* Adjust second-level indentation */
}

ul li:before {
    content: "\2022"; /* Default bullet symbol for first-level items */
    color: #000000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px; /* Adjust spacing between bullet point and text */
}

ul ul li:before {
    content: "\25AA"; /* Square bullet symbol for second-level items */
    color: #000000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px; /* Adjust spacing between bullet point and text */
}

ol li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* CSS for markdown table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Blockquote styles */
blockquote {
    border-left: 4px solid #007bff;
    padding-left: 1em;
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}

/* Code block styles */
pre {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #f8f9fa, #e9ecef);
}

/* Inline code styles */
code {
    background-color: #f4f4f4;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

/* Prism.js line numbers */
.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
    color: #999;
    padding-right: 0.8em;
    text-align: right;
}

/* Custom CSS for styling markdown content inside <aside> tags */
aside {
    background-color: #dbdbdbb9;
    border-left: 6px solid #555;
    padding: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

aside p {
    margin-top: 0;
    margin-bottom: 10px;
}

aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
    margin-top: 0;
}

aside ul, aside ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
}

aside img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* CSS for copy button on code blocks */
.copy-button {
    position: relative;
    float: right; /* Position the button to the right */
    margin-left: 10px; /* Add some margin to separate the button from the code block */
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #0056b3;
}


/* CSS to style URL previews */
.link-preview {
    margin-top: 10px; /* Adjust margin as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative; /* Set position to relative for absolute positioning of the image */
}

.link-preview h2 {
    font-size: 18px; /* Adjust heading size */
    margin-bottom: 5px; /* Adjust margin as needed */
}

.link-preview p {
    font-size: 14px; /* Adjust paragraph size */
    margin-bottom: 5px; /* Adjust margin as needed */
}

.link-preview img {
    max-width: 100px; /* Adjust the max-width value as needed */
    position: absolute; /* Set position to absolute for precise positioning */
    top: 50%; /* Align the image vertically centered */
    transform: translateY(-50%); /* Adjust the vertical position of the image */
    right: 10px; /* Align the image to the right with some margin */
}


